////////////////////////
//
// Breakpoint variables.
//
// Breakpoint allows us to embed media queries directly into each rule that
// needs it, rather than forcing a developer to place rules for a single
// component in multiple places depending on the media query they want to
// affect.
//
// @see https://github.com/Team-Sass/breakpoint/wiki
//
// Listed here are named breakpoints. They can vary in complexity, allowing you to
// get rid of the cognitive load behind typing and remembering media queries.
//
// @see https://github.com/Team-Sass/breakpoint/wiki/Respond-To
//
////////////////////////

$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

// Our Breakpoints
$wrap-box: 750px;




/// TSMITH
$wrap-box: 750px;
$header-mini: max-width 619px;
$header-split: 620px 849px;
$header-top-margin: 850px 999px;
$header-expanded: 1000px;
$headers-left: 850px;
$social-large: 1240px;
$work-single: max-width 499px;
$work-dividers: max-width 849px;
$details-split: 500px 849px;
$details-table: 850px 999px;
$details-horizontal: 1000px;
$extras-single: max-width 599px;
$extras-boxes: 600px 849px;
$extras-multiline: 850px;
$extras-dates-split: 1000px;
$creations-single: max-width 499px;
$creations-double: 500px 849px;
$creations-boxes: 850px 999px;
$creations-rows: 1000px;
