<header class="site-header">
  <div id="logo"></div>
  <div id="avatar"></div>
  <h1>Ian Carrico</h1>

  <dl class="contact">
    <dt>Website</dt>
    <dd class="blog"><a href="https://iamcarrico.com" title="Blog">iamcarrico.com</a></dd>
    <dt>Social Media</dt>
    <dd class="social">
      <ul>
        <li><a href="https://twitter.com/iamcarrico" class="twitter">Twitter</a></li>
        <li><a href="https://linkedin.com/in/iancarrico" class="linkedin">LinkedIn</a></li>
        <li><a href="https://github.com/iamcarrico" class="github">GitHub</a></li>
        <li><a href="https://drupal.org/u/iamcarrico" class="drupal">Drupal.org</a></li>
      </ul>
    </dd>
  </dl>
</header>
