.section-title {
  text-align: center;
  clear: both;

  font-family: $pt;
  font-weight: 500;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: $blue;
  @include breakpoint($headers-left) {
    @include grid-span(1,1);
    margin-top: 0;
    text-align: right;
    font-size: 2em;
  }

  @include breakpoint($details-horizontal) {
    @include grid-span(1,1);
  }
}
